body{
    background-color: hsl(216, 12%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
}
.container-fluid{
 display: flex;
 flex-direction: column;
 background-color:hsl(213, 19%, 18%) ;
 height: 60vh;
 width: 70vh;
 margin: 0;
 border-radius: 30px;
}
.fav-icon{
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
.star-icon{
    background-color:hsl(213, 20%, 21%) ;
    padding: 18px;
    border-radius: 50px;
}
.card-heading{
    padding: 10px;
    margin-left: 20px;
    margin-top:5px
}
.card-paragraph{
    margin-left: 15px;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 20px;
    color:hsl(216, 12%, 54%);
}
.card-button{
    margin-left: 20px;

}
.btn{
    color:hsl(216, 12%, 54%);
    background-color: hsl(213, 20%, 21%);
    margin: 20px;
    padding: 10px 20px;
    border-radius: 50%;
    outline: none;
    border-color: none;
}
.btn:hover{
    background-color: hsl(25, 97%, 53%);
    color: white;
    border: 0;
}
.submit-btn{
    width: 60vh;
    height: 8vh;
    margin-left: 28px;
    margin-top: 10px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    border: 0;
    font-size: 18px;
    border-radius: 40px;
}
.submit-btn:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}

